
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-flow: column wrap;
    background-color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.link ul {
    list-style: none;
    background-color: white;
}

.link li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    opacity: 0.8;
    border-bottom: 1px solid #333333;
    background-color: white;
}

.link {
    background-color: white;
}

.link a {
    text-decoration: none;
    color: #333333;
    background-color: white;
}

.link i {
    padding: 3px;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: blueviolet;
}
  
#page-wrapper {
    width: 640px;
    background: #FFFFFF;
    padding: 1em;
    margin: 1em auto;
    border-top: 5px solid #69c773;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}
  
h1 {
    margin-top: 0;
}
  
label {
    display: block;
    padding-bottom: 0.25em;
}
  
input {
    display: block;
    font-size: 1.2em;
    padding: 0.25em;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 3px;
    border: 1px solid #BABABA;
}
  
button {
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    padding: 0.4rem 0.8em;
    background: #69c773;
    border-bottom: 1px solid #498b50;
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0 0.25rem;
    text-align: center;
    height: 40px;
    width: 160px;
}
  
button:hover, button:focus {
    opacity: 0.75;
    cursor: pointer;
}
  
button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

@media all and (min-width: 768px) {
    nav {
        margin-top: 3px;
        margin-left: 3px;
        margin-right: 3px;
        padding: 3px;
        border: 1px solid #333333;
        border-radius: 5px;
        flex-flow: row wrap;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    }

    .logo {
        display: flex;
        flex: 50%;
        justify-content: flex-start;
        padding: 0px;
        box-shadow: none;   
    }

    .link {
        display: flex;
        flex: 50%;
        justify-content: flex-end;
    }

    .link ul {
        display: inline-flex;
    }

    .link li {
        border-left: 1px solid #333333;
        border-bottom: none;
    }
}