* {
    margin: 0;
    padding: 0;
    border: 0;
}

.sport {
    height: 100vh;
    background: url(./../img/login/esportes-olimpicos-2016.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-sizing: border-box;
    font-family:  "Comfortaa", sans-serif;
}

.form {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 80px 0px 80px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.usuario img {
    width: 80px;
    padding: 3px;
}

h1{
    padding-bottom: 20px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 25px;
}

.login {
    font-weight: bold;
}

.login input {
    width: 95%;
    margin-bottom: 21px; 	
}

input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login ::placeholder {
    color: #fcfcfc;
}

.login input[type="submit"] {
    border: none;
	outline: none;
	height: 35px;
	color: #000000;
	background-color:  #fcfcfc;
	border-radius:  20px;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background-color: #ff4d4d;
}

.login a {
    text-decoration: none;
    font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	transition: 0.2s;
}

.login a:hover{
    color: #ff4d4d;
    cursor: pointer;
}

.login ul {
    margin: 0;
    list-style: none;
}

.error-login-alert {
    width: 100%;
    color: #dc3545;
    margin-top: 0.25rem;
    font-size: 80%;
}
